* {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#home {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(../bg.jpg);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    padding:20px;
}
#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
}

.content {
    margin-top:100px;
}

.app--title {
    font-family: 'Prompt', sans-serif;
    font-size:38px;
    font-weight:100;
    color:#fff;
    line-height:0.9;
    margin-bottom:40px;
}

.app--progress {
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:10px;
    background-color:rgba(0,0,0,0.25);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.datetime {
    position:absolute;
    right:20px;
    top:30px;
    color:#fff;
    text-align:right;
    line-height:1.0;
}

.datetime--date {
    font-size:14px;
}
.datetime--time {
    font-size:28px;
}

.item {
    background-color:rgba(220,220,220,0.25);
    position:relative;
    padding:20px;
    min-height:90px;
}
.item:after {
    content: " ";
    clear:both;
    display:block;
}
.item--title {
    font-size:22px;
    float:left;
    width:50%;
    font-weight:100;
    color:#fff;
    text-align:right;
    line-height:1.0;
}
.item--sub {
    display:block;
    text-transform: lowercase;
    color:#ccc;
    font-size:13px;
}
.item--value {
    font-size:15px;
    font-weight:300;
    float:right;
    color:#ccc;
    text-align:right;
}
.item--value strong {
    color:#fff;
}